.BM-contant4{
    /* width: 1168px; */
    width: 80%;
    height: 444px;
    display: flex;
    
    overflow: hidden;

}
.BM-text{
    margin-left: 140px;
    margin-top: 0px;
    width: 420px;
    height: 290px;
}
.BM-text h3{
    width: 118px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #222222;

}
.BM-text h1{
    width: 409px;
    height: 72px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;

}
.BM-text p{
    width: 403px;
    height: 168px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;

}
.BM-image{
    width: 376px;
    height: 744px;
    margin-left: 80px;
}


.BM-contants{
    overflow: hidden;
}

.BM-contant5{
    overflow: hidden;
    width: 80%;
    height: 444px;
    display: flex;
    background-color:  #F2F2F2;
    margin-top: -1px;
}
.BM-textright{
    width: 420px;
    height: 290px;
    margin-left: 80px;
    margin-top: 150px;
}
.BM-textright h3{
    width: 159px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #222222;

}
.BM-textright h1{
    width: 396px;
    height: 72px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;

}
.BM-textright p{
    width: 403px;
    height: 168px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;

}
.BM-imageleft{
    width: 376px;
    height: 744px;
    margin-left: 140px;
    margin-top: 100px;
}
.BM-contant6{
    overflow: hidden;
    z-index: 11;
    height: 997px;

 width: 80%;
 
 text-align: center;
 
background: #222222;
}
.BM-contant6 h2{
    width: 103px;
height: 20px;
text-align: center;
margin-left: 569px ;
margin-top: 100px;
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 20px;

letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;

   
}
.BM-contant6 h1{
    width: 364px;
height: 36px;
margin-left: 438px;
font-family: 'Poppins';
font-weight: 400;
font-size: 32px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}
.BM-contant6 p{
  width: 578px;
height: 48px;
margin-left: 331px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;

color: #FFFFFF;
}
.line{
    margin-top: -255px;
    width:  600px;
color: #E5E5E5;

}
.BM-container img{
    width: 24px;
    height: 24px;
}
.BM-container h3{
    width: 133px;
height: 20px;
margin-left: -40px;
margin-top: -0.1px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;

}
.BM-container1 img{
    width: 24px;
    height: 24px;
    margin-left: 20px;
}
.BM-container1 h3{
    width: 133px;
height: 20px;
margin-left: -40px;
margin-top: -0.1px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;

}
.BM-container{
    color: #FFFFFF;
    margin-top: -200px;
    margin-left: 450px;
    padding: 26px;

}
.BM-container1{
    color: #FFFFFF;
    margin-top: -115px;
    margin-left: 650px;
    padding: 26px;
    /* lalala */
}
